
:root {
  --larger-text: 60px;
  --large-text: 32px;
  --medium-text: 20px;
  --small-txt: 16px;
  --extra-small-txt: 10px;
  --primary-green: #53c351;
  --primary-green-dark: #47a645;
  --secondary-green: #254330;
  --dark-green: #1c3a27;
  --light-dark-green: #285639;
  --radius: 10px;
  --big-radius: 50px;
  --white: #ffffff;
}

* {
  font-family: "Roboto", sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

a,
p {
  text-decoration: none;
  font-weight: normal;
  color: black;
  font-size: var(--medium-text);
}

section {
  display: flex;
  margin: 2rem;
}

.link-btn {
  cursor: pointer;
  padding: 10px 15px;
  text-transform: capitalize;
  transition: background-color 0.3s ease-in-out;
  width: fit-content;
}

.text-green {
  color: var(--primary-green);
}

/* Ba */
.btn {
  cursor: pointer;
  padding: 10px 25px;
  color: var(--primary-green);
  border-radius: var(--radius);
  text-transform: capitalize;
  font-weight: 600;
  width: fit-content;
  border: 1px solid var(--primary-green);
  transition: background-color 0.3s ease-in-out, color 0.3s ease-in-out;
}

.btn:hover {
  color: var(--white);
  background-color: var(--primary-green-dark);
}

.darkgreen,
.green {
  color: var(--white);
  transition: background-color 0.3s ease-in-out;
}

.green {
  background-color: var(--primary-green);
}

.green:hover {
  background-color: var(--primary-green-dark);
}

.darkgreen {
  background-color: var(--secondary-green);
}

.darkgreen:hover {
  background-color: var(--light-dark-green);
}

.container {
  /* width: 100vw; */
  min-height: 100vh;
  padding: 0 10rem;
  display: flex;
  flex-direction: column;
}

h2 {
  font-size: var(--large-text);
}

/* nav-bar Styles */
nav {
  width: 100%;
  display: flex;
  justify-content: space-between;
  position: sticky;
  top: 0;
  z-index: 100;
  background-color: #ffffff;
}

.nav-bar {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  padding: 20px 0;
}

.nav-links {
  display: flex;
  list-style-type: none;
  color: black;
}

.nav-links li {
  position: relative;
  text-decoration: none;
  color: black;
  padding: 0.2rem 1rem;
}

.nav-links li::before {
  content: "";
  position: absolute;
  width: 0px;
  height: 5px;
  border-radius: 5px;
  top: 32px;
  left: 30%;
  background-color: var(--primary-green);
  opacity: 0;
  margin: 0 auto;
  transition: opacity 0.1s ease-in-out, width 0.3s ease-in-out;
}

.nav-links li:hover::before {
  opacity: 1;
  width: 40px;
}

.menu-btn {
  display: none;
  font-size: 1.8rem;
  cursor: pointer;
  z-index: 10;
}

/* Home */
.home .info-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.info-container .info {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.info {
  width: 60%;
}

.info-container .flower {
  cursor: pointer;
  transform: scale(1);
  transform: rotate(0);
  transition: transform 0.4s ease-in-out;
  z-index: 8;
}

.info-container .flower:hover {
  transform: scale(1.1);
  transform: rotate(360);
}

.home img {
  width: 60rem;
}

.home h1 {
  font-size: var(--larger-text);
}

.links {
  gap: 10px;
}

/* Steps */
#steps {
  margin-top: 4rem !important;
  padding: 2rem 0;
  flex-direction: column;
}

.title {
  display: flex;
  flex-direction: column;
  align-content: center;
  justify-content: center;
  text-align: center;
}

.steps-list {
  display: flex;
  width: 80%;
  align-self: center;
  padding: 1rem 0;
  justify-content: space-between;
}

.steps-list .step-card {
  display: flex;
  flex-direction: column;
  text-align: center;
  width: 30%;
  font-size: var(--small-txt);
}

.steps-list .step-card img {
  width: 100px;
  align-self: center;
  margin-bottom: 2rem;
}

.steps-list .step-card>div {
  margin-top: auto;
}

.moneyImg {
  width: 150px !important;
}

.mobile-icon {
  display: none;
}

/* About */
.about {
  flex-direction: column;
}

.make-green,
.livestock,
.cash-crop {
  margin: 2rem 0;
  display: flex;
  justify-content: space-around;
}

.image {
  display: flex;
  justify-content: center;
  width: 40%;
}

.image img {
  width: 50%;
  align-self: center;
  justify-self: center;
}

.about .info {
  padding-top: 2rem;
  width: 40%;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.livestock .image img,
.cash-crop .image img {
  width: 400px;
}

.livestock .info,
.cash-crop .info {
  margin-top: auto;
}

.cash-crop .image {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

.cash-crop .image::before {
  content: "";
  position: absolute;
  background-color: #e2eeec;
  width: 250px;
  height: 250px;
  border-radius: 500px;
}

.cash-crop .image img {
  z-index: 10;
}

/* Contact */
.contact {
  margin-top: 200px;
  display: flex;
  flex-direction: column;
  padding: 0 6rem;
}

.contact .what-we-are-doing {
  position: relative;
  color: var(--white) !important;
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  width: 80%;
  padding: 2rem 6rem;
  align-self: center;
}

.contact .what-we-are-doing::before {
  content: "";
  position: absolute;
  height: 100%;
  width: 100%;
  bottom: 0;
  left: 0;
  background-color: var(--dark-green);
  border-radius: var(--big-radius);
  z-index: -2;
}

.bdImage1,
.bdImage2 {
  position: absolute;
  z-index: 1;
  filter: opacity(0.5);
  bottom: 20%;
}

.bdImage1 {
  left: 25%;
}

.bdImage2 {
  left: 60%;
}

.what-we-are-doing .manImage {
  position: absolute;
  bottom: 40px;
  right: 5rem;
  transform: scale(1.2);
  z-index: 6;
}

.what-we-are-doing .info {
  display: flex;
  flex-direction: column;
  width: 50%;
  gap: 20px;
  z-index: 2;
}

.what-we-are-doing .info p {
  color: var(--white);
}

.icons {
  margin-top: 2rem;
  padding: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

/* Mobile View */
@media (max-width: 780px) {
  .logo img {
    width: 5rem;
  }

  .container {
    padding: 0 10px;
  }

  section {
    flex-direction: column;
    text-align: center;
  }

  .desk {
    display: none !important;
  }

  .info {
    width: 100%;
  }

  p,
  a {
    font-size: var(--extra-small-txt);
  }

  h2 {
    font-size: var(--medium-text);
  }

  h4 {
    font-size: var(--extra-small-txt);
  }

  /* Nav bar */

  .nav-links {
    position: fixed;
    background-color: white;
    right: -100%;
    height: 100vh;
    width: 100%;
    top: 0;
    flex-direction: column;
    align-items: center;
    gap: 40px;
    transition: 0.3s ease-in-out;
    z-index: 100;
    padding-top: 1rem;
  }

  .nav-links.open {
    right: 0;
  }

  .home {
    padding: 0;
  }

  .menu-btn {
    display: block;
    z-index: 101;
  }

  .home h1 {
    font-size: 33px;
  }

  .home p {
    margin: 1.5rem 0;
  }

  .links {
    margin-top: 1rem;
    gap: 10px;
  }

  /* Steps */
  .steps-list {
    width: 100%;
  }

  .steps-list .step-card {
    font-size: 14px;
  }

  .steps-list .step-card img {
    width: 40px;
    align-self: center;
    margin-bottom: 1rem;
  }

  .steps-list .step-card div {
    margin-top: auto;
  }

  .moneyImg {
    width: 50px !important;
  }

  .mobile-icon {
    display: block;
    padding-left: 10px;
    align-self: flex-start;
    width: 6rem;
  }

  /* About */

  .about,
  .make-green {
    margin-top: 0;
  }

  .livestock {
    flex-direction: column;
    align-items: center;
  }

  .make-green,
  .cash-crop {
    flex-direction: column-reverse;
    align-items: center;
  }

  .image {
    width: 50%;
  }

  .image img {
    width: 100%;
    align-self: center;
    justify-self: center;
  }

  .about .info {
    padding-top: 1rem;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
  }

  .livestock .image img,
  .cash-crop .image img {
    width: 200px;
  }

  .cash-crop .image::before {
    content: "";
    position: absolute;
    background-color: #e2eeec;
    width: 130px;
    height: 130px;
    border-radius: 500px;
  }

  /* Contact */
  .contact {
    text-align: center;
    padding: 0;
    margin-top: 0px;
  }

  .contact .what-we-are-doing {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    padding: 1rem 2rem;
  }

  .contact .what-we-are-doing::before {
    border-radius: 0;
  }

  .what-we-are-doing .info {
    width: 100%;
    align-items: center;
  }

  .icons {
    display: flex;
  }
}